Learning Needed: RFC 9112 

- [x] #10
- [x] #13
  -  RFC 9112 section 2 ~ 8
- [x] #14
  -  RFC 9110 section 9
- [x] #12
  -  RFC 9110 section 15
- [x] #15 
  - RFC 9112 section 9
- [x] #11
  - https://www.digitalocean.com/community/tutorials/understanding-nginx-server-and-location-block-selection-algorithms
- [x] #9
  - RFC 3875 section 4, 6